.wrapper{
    margin: 0 auto;
    width: 70%;
    max-width: 1440px;
    position: relative;
}
.container{
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    width: 100%;
}
.options{
    background: #dbdbdb;
    position: fixed;
    top: 0;
    left: 15%;
    width: 15%;
    padding: 20px 0;
}

.options > .container{;
    background-color: white;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.options > .container > div{
    margin: 15px 0;
    padding: 0 10px;
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
}
.options > .container > div > h4{
    margin-bottom: 10px;
}

.main-content{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 60%;
}
.airline-filter{
    white-space: nowrap;
    font-size: 12px;
}
.price-input:first-of-type{
    margin: 10px 0;
}
.price-input::-webkit-inner-spin-button,
.price-input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

